.vscode
bin
build
lib
lib64
myenv
modelo_uruguay
tmp
share
etc
__pycache__
pydrodelta/__pycache__
src/pydrodelta.egg-info
pydrodelta.egg-info
log/analysis.log
config/config.yml
data/plans
data/notebooks
data/topologies
data/plots
data/reports
data/csv
setup_.py
dist
data_a5
data_
results
